.git
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.phpunit.result.cache
Dockerfile
docker/*
!docker/entrypoint.sh
railway.json
README.md
README-RAILWAY.md
